.App {
  text-align: center;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  line-height: 2;
}

.App-header {
  padding: 30px;
  background-color: #7a9eb1;
  border-radius: 50%/ 0 0 200px 200px;
  box-shadow: 0 3px 5px #577483;
}

.App-main {
  padding: 30px;
}

footer {
  background-color: #415865;
  color: #ffe1b6;
  border-radius: 50%/ 200px 200px 0 0;
}

a {
  color: #ffe1b6;
}
a:hover {
  color: #f0c53e;
}

@media (max-width: 576px) {
  footer {
    font-size: 15px;
  }
}
